@page
@{
    Layout = null;

    var TB = TeslaKey.Languages.TextBase.Get(HttpContext);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(TB.HtlmTitle)</title>
    <script src="/js/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="></script>
    <link rel="stylesheet" href="/css/definitions.css" />
</head>
<body>
    <script>
        var request = null, timeout = null;

        function setclrtimer() {
            timeout = setTimeout(function () {
                $('#message').text('@(TB.MsgReady)');
                $('#code').text('');
                timeout = null;
            }, 1000 * 15);
        }
        function requesttoken() {
            var email = $("#email").val();
            var password = $("#password").val();

            var data = $.param({ email: email, password: password });

            if (timeout != null) {
                clearTimeout(timeout);
                timeout = null;
            }
            if (request != null) {
                request.abort();
            }
            $('#message').text('@(TB.MsgRequesting)');
            $('#code').text('');

            request = $.ajax('/gettoken?language=@(TB.LanguageName)', {
                data: data,
                method: 'POST',
                Accept: 'application/json; charset=utf-8',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "text",
            }).done(function (data) {
                data = JSON.parse(data);
                if (data.token != null) {
                    $('#message').text('@(TB.MsgYourToken)');
                    $('#code').text(data.token);
                } else {
                    $('#message').text('@(TB.MsgGotaProblem)');
                    $('#code').text(data.message);
                    setclrtimer();
                }
            }).fail(function (data) {
                $('#code').text(data.statusText);
                setclrtimer();
            }).always(function () {
                request = null;
            });
        }
    </script>
    <form id="loginform">
        <fieldset>
            <legend class="docenter">@(TB.HtmlHeader)</legend>
            <div id="languages">
                <a href="/?language=NL">NL</a>
                <a href="/?language=EN">EN</a>
            </div>
            <div class="docenter">
                <p>
                    <label>@(TB.email):</label>
                    <input type="email" id="email" autocomplete="email" />
                </p>
                <p>
                    <label>@(TB.password):</label>
                    <input type="password" id="password" autocomplete="password" />
                </p>
                <p><button type="button" onclick="requesttoken()">@(TB.BtnRequest)</button></p>
            </div>
        </fieldset>
        <fieldset>
            <legend class="docenter">@(TB.status)</legend>
            <div id="resultbox">
                <div id="message" class="docenter">@(TB.MsgReady)</div>
                <div id="code" class="docenter"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="docenter">@(TB.infoheader)</legend>
            <p class="docenter">
                @Html.Raw(TB.infotext)
            </p>
        </fieldset>
    </form>
</body>
</html>